JkWorkersFile /bosnd/sites-enabled/workers.properties
JkLogFile     /var/log/mod_jk.log
JkShmFile     /var/log/mod_jk.shm
<VirtualHost *:80>
  ServerName  {{.Domainprefix}}.{{.Domainzone}}

  {{range $index, $entry := .Services}}
  {{with $entry.Labels.context}}
  JkMount {{index $entry.Labels "context"}} {{$entry.Name}}lb
  JkMount {{index $entry.Labels "context"}}/* {{$entry.Name}}lb
  {{end}}
  {{end}}
  
  JkMount /jkmanager jkstatus
  JkMount /jkmanager/* jkstatus

</VirtualHost>